*{
    padding:0;
    margin:0;
}
html{
    height:100%;
    width:100%;
}
body{
    background-color:#ffffff;
    width:100%;
    height:100%;
}
.inner{
    color:#b30000;
}
#headingTable{
    width:50%;
    position: relative;
    left:25%;
    top:10%;
    font-size: 1.1vw;
    font-family: 'Open Sans Condensed', sans-serif;
}
.headingData{
    text-align: center;
}
.headingBody{
    width:100%;
}
hr{
    position: relative;
    top:10%;
    left:45%;
    width:10%;
}
#button{
    z-index: 5;
    position:absolute;
    left:48%;
    top:47%;
    transition-duration: 0.2s;
    width:4%;
    height:6%;
    border-radius: 4%;
    cursor: pointer;
    border:none;
    background-color:#b30000;
    color:white;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
#button:hover{
    color:#aaaaaa;
    opacity:1;
}
#eye{
    width:100%;
    height:100%;
    filter: invert(100%);
}
#wrapContent{
    transition-duration: 0.3s;
    width:0;
    height:0;
    display:block;
    position:fixed;
    top:50%;
    left:50%;
    background-color:#b30000;
    border-top-left-radius:50%;
    border-bottom-right-radius:50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapNav{
    width:100%;
    height:100%;
    display:block;
}
                                    /* TOP LEFT */
#topLeft{
    background-color:black;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100.1%;
    transition-duration:0.3s;
    z-index: 2;
    border-top-left-radius:100%;
}
#topLeftWrap{
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:50%;
    transition-duration:0.3s;
    border-top-left-radius:100%;
}
#topLeft:hover{
    width:0%;
    height:0%;
    top:100%;
    left:100%;
}
#topLeftWrap:hover #topLeft{
    width:0%;
    height:0%;
    top:100%;
    left:100%;
}
#hiddenLink{
    z-index: 1;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-top-left-radius:100%;
}
#homeImg{
    position:absolute;
    top:40%;
    left:40%;
    width:35%;
    height:35%;
}
                                    /* BOTTOM LEFT */
#bottomLeft{
    background-color:black;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 2;
    transition-duration:0.3s;
}
#bottomLeftWrap{
    display:inline-block;
    position:absolute;
    top:50%;
    left:0;
    width:50%;
    height:50%;
    transition-duration:0.3s;
}
#bottomLeft:hover{
    width:0;
    height:0;
    top:0;
    left:100%;
}
#bottomLeftWrap:hover #bottomLeft{
    width:0;
    height:0;
    top:0;
    left:100%;
}
#hiddenLink3{
    z-index: 1;
    display:inline-block;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
#glassImg{
    position:absolute;
    top:25%;
    left:25%;
    width:50%;
    height:50%;
}
                                    /* TOP RIGHT */
#topRight{
    background-color:black;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100.1%;
    z-index: 2;
    transition-duration:0.3s;
}
#topRightWrap{
    display:inline-block;
    position:absolute;
    width:50%;
    height:50%;
    top:0;
    left:50%;
    transition-duration:0.3s;
}
#topRight:hover{
    width:0;
    height:0;
    top:100%;
    left:0;
}
#topRightWrap:hover #topRight{
    width:0;
    height:0;
    top:100%;
    left:0;
}
#hiddenLink2{
    z-index: 1;
    display:inline-block;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
#readImg{
    position:absolute;
    top:25%;
    left:25%;
    width:50%;
    height:50%;
}
                                    /* BOTTOM RIGHT */
#bottomRight{
    background-color:black;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition-duration:0.3s;
    border-bottom-right-radius:100%;
}
#bottomRightWrap{
    display:inline-block;
    position:absolute;
    width:50%;
    height:50%;
    top:50%;
    left:50%;
    border-bottom-right-radius:100%;
}
#bottomRight:hover{
    width:0;
    height:0;
}
#bottomRightWrap:hover #bottomRight{
    width:0;
    height:0;
    top:0;
    left:0;
}
#hiddenLink4{
    z-index: 1;
    display:inline-block;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-bottom-right-radius:100%;
}
#infoImg{
    position:absolute;
    top:15%;
    left:15%;
    width:50%;
    height:50%;
}

























